In [1]:
import warnings
warnings.filterwarnings("ignore")

import pandas as pd
import pickle

In [2]:
url = "https://biostat.app.vumc.org/wiki/pub/Main/DataSets/titanic3.xls"
df = pd.read_excel(url)
df.head()

,pclass,survived,name,sex,age,sibsp,parch,ticket,fare,cabin,embarked,boat,body,home.dest
0,1,1,"Allen, Miss. Elisabeth Walton",female,29.0000,0,0,24160,211.3375,B5,S,2,NaN,"St Louis, MO"
1,1,1,"Allison, Master. Hudson Trevor",male,0.9167,1,2,113781,151.5500,C22 C26,S,11,NaN,"Montreal, PQ / Chesterville, ON"
2,1,0,"Allison, Miss. Helen Loraine",female,2.0000,1,2,113781,151.5500,C22 C26,S,NaN,NaN,"Montreal, PQ / Chesterville, ON"
3,1,0,"Allison, Mr. Hudson Joshua Creighton",male,30.0000,1,2,113781,151.5500,C22 C26,S,NaN,135.0,"Montreal, PQ / Chesterville, ON"
4,1,0,"Allison, Mrs. Hudson J C (Bessie Waldo Daniels)",female,25.0000,1,2,113781,151.5500,C22 C26,S,NaN,NaN,"Montreal, PQ / Chesterville, ON"

In [3]:
df = df.drop(columns=["name","ticket","home.dest","boat", "body", "cabin",])
df.head()

   pclass  survived     sex      age  sibsp  parch      fare embarked
0       1         1  female  29.0000      0      0  211.3375        S
1       1         1    male   0.9167      1      2  151.5500        S
2       1         0  female   2.0000      1      2  151.5500        S
3       1         0    male  30.0000      1      2  151.5500        S
4       1         0  female  25.0000      1      2  151.5500        S

In [4]:
X = df.drop(columns="survived")
y = df.survived

In [5]:
X

      pclass     sex      age  sibsp  parch      fare embarked
0          1  female  29.0000      0      0  211.3375        S
1          1    male   0.9167      1      2  151.5500        S
2          1  female   2.0000      1      2  151.5500        S
3          1    male  30.0000      1      2  151.5500        S
4          1  female  25.0000      1      2  151.5500        S
...      ...     ...      ...    ...    ...       ...      ...
1304       3  female  14.5000      1      0   14.4542        C
1305       3  female      NaN      1      0   14.4542        C
1306       3    male  26.5000      0      0    7.2250        C
1307       3    male  27.0000      0      0    7.2250        C
1308       3    male  29.0000      0      0    7.8750        S

[1309 rows x 7 columns]

In [6]:
filename = 'bestModel.sav'
model= pickle.load(open(filename,'rb')) #'rb' means to read bites
model

Pipeline(steps=[('columntransformer',
                 ColumnTransformer(transformers=[('categorical',
                                                  Pipeline(steps=[('imputer',
                                                                   SimpleImputer(strategy='constant')),
                                                                  ('onehot',
                                                                   OneHotEncoder(handle_unknown='ignore'))]),
                                                  ['sex', 'embarked']),
                                                 ('numerical',
                                                  Pipeline(steps=[('Knn_imputer',
                                                                   KNNImputer(n_neighbors=3)),
                                                                  ('Scaler',
                                                                   StandardScaler())]),
                                                  ['pclass', 'age', 'sibsp',
                                                   'parch', 'fare'])])),
                ('pca', PCA(n_components=0.9)),
                ('randomforestclassifier',
                 RandomForestClassifier(max_depth=3, max_features='log2',
                                        n_estimators=300))])

In [7]:
model.score(X,y)

0.813598166539343

In [8]:
model.predict(X.head(1))

array([1], dtype=int64)

In [9]:
model.predict_proba(X.head(1))

array([[0.30341666, 0.69658334]])

In [10]:
X.head(1)

   pclass     sex   age  sibsp  parch      fare embarked
0       1  female  29.0      0      0  211.3375        S

In [11]:
y.head(1)

0    1
Name: survived, dtype: int64

## Check

***pycaret>Home>Docs>Quickstart***